.modal-content{
    background-color: black;
}

  
  
   h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
   .user-box {
    position: relative;
  }
  
   .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #00f2ff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #00f2ff;
    outline: none;
    background: transparent;
  }
  .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #00f2ff;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box input:focus ~ label,
   .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00f2ff;
    font-size: 12px;
  }
  
  